NODE_ENV=development
PORT=3000

DATABASE_URL="mysql://usai:usai@localhost:3306/usai"

JWT_ACCESS_SECRET=troque-este-segredo-em-producao
JWT_REFRESH_SECRET=troque-este-outro-segredo-em-producao

ASAAS_API_KEY=
ASAAS_WEBHOOK_TOKEN=
ASAAS_BASE_URL=https://sandbox.asaas.com/api/v3

FRONTEND_URL=http://localhost:5173
